In [ ]:
# problem 1
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
o = []
e = []

for i in range(len(listOne)):
    if i % 2 == 1:
        a=listOne[i]
        o.append(a)
print(o)

for i in range(len(listTwo)):
    if i % 2 == 0:
        a=listTwo[i]
        e.append(a)
print(e)

o.extend(e)
print(o)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [ ]:
# problem 2
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listOne.extend(listTwo)
a= set(listOne)
for i in a:
    print(i,'number comes ',listOne.count(i),'times')

3 number comes  1 times
4 number comes  1 times
6 number comes  1 times
8 number comes  1 times
9 number comes  1 times
12 number comes  2 times
15 number comes  1 times
16 number comes  1 times
18 number comes  1 times
20 number comes  1 times
21 number comes  1 times
24 number comes  1 times
28 number comes  1 times

In [ ]:
# problem 3
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listOne.extend(listTwo)
print(listOne)
o = [ ]

for i in listOne:
     
    if i % 2 == 1 :
        o.append(i)

print(o)

[3, 6, 9, 12, 15, 18, 21, 4, 8, 12, 16, 20, 24, 28]
[3, 9, 15, 21]

In [ ]:
# problem 4
lis = [ ]
for i in range(1,30 + 1):
    if i <= 5 or 25 <= i:
        i= i**2
        lis.append(i)  
        
    else:
        lis.append(i)
print(lis)

[1, 4, 9, 16, 25, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 625, 676, 729, 784, 841, 900]

In [ ]:
# problem 5

In [ ]:
# problem 6

In [ ]:
#problem 7
a = [0,1,2,3,4,5,67,76]
for i in range(0,len(a),2):
    b = a.pop(i)
    a.insert(i+1,b)

print(a)

[1, 0, 3, 2, 5, 4, 76, 67]

In [ ]:
 
#problem 8
a = [1,2,3,4,5,6,7,8,9]
ab = [ ]
for i in a:
    for j in a:
        ab.append([i,j])
          
print(ab)

1 9
2 9
3 9
4 9
5 9
6 9
7 9
8 9
9 9
[[1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 1], [5, 2], [5, 3], [5, 4], [5, 5], [5, 6], [5, 7], [5, 8], [5, 9], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 6], [6, 7], [6, 8], [6, 9], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 7], [7, 8], [7, 9], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 8], [8, 9], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8], [9, 9]]

In [ ]:
# problem 9


lis = [[4, 8, 12],[ 16, 20, 24, 28],[4,576],[4,8,12]]

lis1 = [ ]

for i in lis:
    if i not in lis1:
        lis1.append(i)

print(lis1)

[[4, 8, 12], [16, 20, 24, 28], [4, 576]]